* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-color: rgba(128, 128, 128, 0.568);
}

nav {
    height: 70px;
    padding: 6px 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo span {
    color: crimson;
}

#click {
    display: none;
}

.side-bar {
    display: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.pic {
    background-image: url(card2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
    padding-top: 5vw;
}
.pic span {
    color: crimson;
}
.pic h1 {
    margin-bottom: 10px;
}
.pic p {
    font-size: 15px;
    font-weight: bold;
    
}

.cards {
    width: 100%;
    padding: 100px 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.692);
    border-radius: 8px;
    margin-bottom: 15px;
}
.card img {
    width: 100%;
    height: 180px;
}
.card-content {
    padding: 10px 20px;
}
.card-content h3 {
    color: crimson;
    margin-top: 8px;

}
.card-content p {
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
footer {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:750px){
    ul {
        position: fixed;
        top: 70px;
        width: 60%;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        align-items: center;
        right: -100%;
        transition: all 0.2s ease;

    }
    ul li {
        margin: 10px 0px;
    }
    ul a {
        font-size: 20px;
        padding: 6px 10px;
    }
    ul a:hover {
        background-color: rgba(220, 20, 60, 0.5);
    }

    .side-bar  {
        display: block;
    }

    #click:checked ~ ul {
        right: 0%;
    }
    
}